@import '../../style/base.scss';

.classiify{
    height: 100%;
    width: 100%;
    background: #fff;
    display:flex;
    flex-direction: column;
    .sousuo{
        width:100%;
        height: 44px;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 16px;
        background: #EFEFF4; 
        color:#EFEFF4;         
        .sousuo-input{
          height: 28px;
          width: 357px;
          display: flex;
          align-items: center;
          justify-content:center;
          background: #fff;
          border: 1px solid #fff;
            border-radius: 6px;  
          .icon{
            margin-right:6px;
            margin-bottom: 4px;
          }      
        }
      }
      .classiify-box{
        flex: 1;
        display: flex;
        justify-content: space-between;
        .classiify-nav{
            width: 105px;
            height: 100%;
            color: #666666;
            text-align: center;
            background: #F8F8F8;
            box-sizing: border-box;
            font-size: 16px;
            .name{
                width:100%;
                height: 55px;
                padding-left:5px;
                div{
                    width: 100%;
                    height: 100%;      
                    text-align: center;
                    line-height: 51px;                    
                }
            }
            .name2{
                    background:$color;                   
                div{    
                    color: $color;              
                    background: #fff;  
                    font-weight: 600;                               
                }
            }
        }
        .classiify-main{
            width: 250px;
            height:100%;         
            padding: 10px;
            box-sizing: border-box;
            .ondata{
                width: 100%;
                margin-top: 70px;
                text-align: center;
                color: #ccc;
                font-size: 16px;
            }
            .classiify-item{
                width: 250px;
                height:100px;
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;
                font-size: 14px;               
                .item-name{
                    height: 100%;
                    width: 63px;
                    text-align: center;
                    margin-right:20px;
                    margin-bottom: 10px;
                    .name2{
                        width: 100%;
                        height: 20px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .item-img{
                    height:63px;
                    width: 63px;
                    background: #ccc;
                    position: relative;
                    margin-bottom: 10px;
                    img{
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                  }
            }
        }
      }
      .noProduct{
        height: 40px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        color: #ccc;
        font-size: 14px;
      }
}